@media only screen and (min-width: 680px) and (max-width:1024px) {
    .services-area {
        position: relative;
        height: 800px;
        .services-box {
            position: relative;
            width: 100%;
            top: 10%;
            margin: 0 auto;
            height: 65%;
            z-index: 1;
        }
        .services_list {
            width: 100%;
            margin: 80px auto;
            margin-bottom: 90px;
            li{
                height: 370px;
                img {
                    margin-bottom: 20px;
                }
                div {
                    h1 {
                        font-size: 30px;
                    }
                    p{
                        font-size: 15px;
                    }
                    height: 130px;
                    margin-bottom: 35px;
                }
                .more_button {
                    width: 60px;
                    height: 30px;
                    p{
                        font-size: 13px;
                        transform: translateX(-50%) translateY(-50%);
                    }
                }
            }
        }
        .services_top_title {
            width: 90%;
            top: 10px;
            margin: auto;
            left: 0;
            transform: none;
            p{
                font-size: 40px;
                margin: -25px 15px;
            }
        }
        .services_bottom_title {
            width: 85%;
            p{
                font-size: 30px;
                margin: -10px 15px;
            }
        }
        .language-list {
            width: 100%;
            margin: 0 auto;
            position: absolute;
            bottom: 5%;
            height: auto;
            li{
                width: 170px;
                height: 65px;
                img{
                    width: 80%;
                    height: 80%;
                }
            }
        }
    }
}