@media only screen and (min-width: 680px) and (max-width:1024px) {
    .our_work_area {
        height: 100vh;
        width: 100%;
        position: relative;
        .our_work_list {
            width: 85%;
            height: 260px;
            top: 50%;
            margin: 0px auto;
        }
        .our_work_title {
            width: 85%;
            margin: 80px auto;
            p{
                font-size: 35px;
                margin: -15px 15px;
            }
    }
  }
}